# Python cache files
__pycache__/
./__pycache__
__pycache__

./simulation/.DS_Store

./results
results

*.py[cod]
*$py.class
./.ipynb_checkpoints/
.ipynb_checkpoints/

# TensorBoard runs
runs/

./wandb
wandb/

./simulation/scaled_trips/*
/simulation/scaled_trips/*

./simulation/scaled_trips/
/simulation/scaled_trips/
